/* Глобальные переменные и сброс стилей */
:root {
  /* Цвета из ваших констант */
  --accent: #FD5003;
  --accent-transparent: #FD500333;
  --bg: #000000;
  --fg: #FFFFFF;
  --surface: #221D1A;
  --surface-2: #222;
  --placeholder: #FFFFFF80;

  /* Типография */
  --font-regular: 'OnestRegular', -apple-system, sans-serif;
  --font-medium: 'OnestMedium', -apple-system, sans-serif;
  --font-semi-bold: 'OnestSemiBold', -apple-system, sans-serif;
  --font-bold: 'OnestBold', -apple-system, sans-serif;
}

/* Сброс стилей */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--fg);
}

@font-face {
  font-family: 'OnestRegular';
  src: url('/fonts/Onest-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OnestMedium';
  src: url('/fonts/Onest-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OnestSemiBold';
  src: url('/fonts/Onest-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OnestBold';
  src: url('/fonts/Onest-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-regular);
  background-color: var(--bg);
  color: var(--foreground-color);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Глобальные стили для Tauri */
#root {
  height: 100vh;
  width: 100vw;
}

/* Кастомный скроллбар */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--surface);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  opacity: 0.8;
}

::-moz-reveal {
  filter: invert(100%);
}

/* Убираем стандартные стили для кнопок и инпутов */
button, input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.title {
  font-family: var(--font-bold);
  font-size: 48px;
  margin: 0 0 16px 0;
  color: var(--fg);
    background: linear-gradient(
    135deg,
    var(--fg) 0%,
    var(--accent) 25%,
    var(--fg) 50%,
    var(--accent) 75%,
    var(--fg) 100%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}